.Navigation {
    margin-bottom: 20px;

}

.Brand {
    color: white;
    font-size: 15px;
    margin-top: -20px;
}

.NavLink {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-top: -25px;
    margin-right: 20px;

}

.NavLink:hover {
    color: wheat;

}

.active {
    text-shadow: 5 px 5px grey;
    padding-bottom: 2px;
    border-bottom: 2px solid wheat;
    color: wheat;
}

.logout {
    font-size: small;
    border: 1px solid white;
    border-radius: 10%;
    padding: 5px;
}

.logout:hover {
    color: #d70f64;
    background-color: white;
}